.user_card {
  width: 60%;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
}

.user_card p {
  height: 1.5rem;
}

.pagBtns {
  width: 80%;
  height: 2rem;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagBtns a:focus {
  outline: 0;
}

.pagBtns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #c9c9c9;
  color: #000;
  cursor: pointer;
}

.pagActive a {
  background: #ffcc00;
}

.pagDisable a {
  opacity: 0.5;
}
