version: "3"

services:
  react: 
    container_name: react
    build: ./client
    environment:
      CHOKIDAR_USEPOLLING: "true"
    volumes: 
      - ./client:/usr/src/app
      - /client/node_modules
    # ports: 
    #   - "3000:3000"
    stdin_open: true
    environment: 
      API_URL: ${API_URL_LOCAL} 
    depends_on: 
      - node
    networks: 
      - my-net

  node:
    container_name: node
    restart: always
    build: ./server/
    environment:
     CHOKIDAR_USEPOLLING: "true"
    volumes: 
      - ./server:/usr/src/app
      - /server/node_modules
    # ports:
    #   - '8080:3000'     
    depends_on: 
      - db
    networks: 
      - my-net

  db:
    container_name: mongodb
    image: mongo:4.2
    ports:
      - '27017:27017' 
    volumes: 
      - ./server/mongo-volume:/data/db
      - ./.backups/mongodb/:/backups
    networks: 
      - my-net
  
  proxy:
    container_name: proxy
    image: nginx:1.19
    ports: 
      - ${HTTP_PORT}:${HTTP_PORT}
      - ${HTTPS_PORT}:${HTTPS_PORT}
    volumes: 
      - ./proxy/:/etc/nginx/conf.d/
    depends_on: 
      - react
    networks: 
      - my-net

networks: 
  my-net:

