.page {
  background-color: blue;
}
.page1 {
  background-color: blue;
}
.page2 {
  background-color: red;
}

.demobook {
  /* display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain; */

  @media screen and (max-width: 960px) {
    width: 400px;
    height: 400px;
  }
}
